* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #282c34; /* Fondo principal */
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculadora {
  background-color: #444;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 300px;
  max-width: 100%;
  padding: 1.5rem;
  gap: 0.25rem;
  border-radius: 2rem;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  scrollbar-width: thin;
  scrollbar-color: #61dafb #444;
  overflow: auto;
}

.pantalla {
  grid-column: 1/ 5;
  background-color: #333;
  padding: 1rem;
  font-size: 2rem;
  text-align: right;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  overflow: auto;
  white-space: nowrap;
}

.boton {
  background-color: #61dafb; /* Azul claro */
  color: #282c34; /* Fondo principal */
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #4fa3d1; /* Azul más oscuro al pasar el ratón */
}

#cero {
  grid-column: 1/3;
}

#igual {
  grid-row: span 2;
  background-color: #e63946; /* Rojo */
}

#igual:hover {
  background-color: #c4303d; /* Rojo más oscuro al pasar el ratón */
}
